@charset "utf-8";
/* CSS Document */
	body{
		background-color: black;
		color: white;
	}
	
	h1{
		color: red;
	}
	
	.field1{
		width: 100%;
		font-size: 23px;
		border-radius: 10px;
	}
	
	.field2,.field3{
		background-color: black;
		color: white;
		text-align: center;
		width: 95%;
		padding: 8px 5px;
		cursor: pointer;
		border: 1px solid #9C9999;
		border-radius: 10px;
	}
	
	.field3{
		font-size: 15px;
	}
	
	.field2:hover,.field3:hover{
		border: 3px solid #FF0004;
	}
	
	.bod{
		margin-top: 3%;
	}
	
	.Listhead{
		background-color: black;
		color: white;
	}
	
	.icons{
		text-align: center;
		color: red;
	}
	
	.icons:hover,.delAll:hover{
		font-size: 23px;
	}
	
	.strike{
		text-decoration: line-through;
	}
	
	.r:hover{
		background-color: #0014A7;
	}
	
	.delAll{
		margin-top: 2%;
		text-align: right;
		margin-right: 4%;
		color: red;
	}

